body {
  background: #141414;
  color:  #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

::-webkit-scrollbar{
  background-color: #141414;
  
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, rgb(131, 128, 128));
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, rgb(67, 78, 74));
}


.image-container {
  position: relative;
  transition: 0.2s
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.form-control {
  margin-right: 10px;
}


.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.8s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


input[type='radio'] {
  display: none;
}

.star {
  cursor: pointer;
  color: #ffb400;
  
}
.regularStar {
  cursor: pointer;
}

